body {
    background-image: url('ricknmorty.jpg');
    max-width: 1920px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.alive {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
}

.dead {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
}

.unknown {
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50%;
}

.card-image {
    border-radius: 5px 5px 0 0;
}

.card-div {
    background-color: white;
    opacity: 85%;
    padding: 3px;
    padding-bottom: 1px;
    margin: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-div:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    opacity: 100%;
    transform: scale(1.03);
}

.title {
    text-align: center;
    background: linear-gradient(to right, cyan 0%, hotpink 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

#user-form {
    text-align: center;
}

#user-form1 {
    text-align: center;
}